/* Main content */
.content-container {
    padding-top: 56px;
}

/* Full height settings for layout */
html,
body,
#app {
    height: 100%;
    margin: 0;
}

/* Minimum view height setting */
.min-vh-100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style for footer */
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

/* Style for content */
.content-offset {
    margin-top: 20px;
}

.stock-chart {
    height: 200px;
}

.card {
    position: relative;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transform effect */
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05); /* Enlarge on hover */
}
